# Ignore anything in .vscode
#
# Generally, I may use Visual Studio Code for developing Lines. I'll leave
# this here in the project's root directory so tat anyone using VS Code can
# do stuff anything related to VS Code. Also, I don't want to have anything
# in this directory to be tracked.
**/.vscode

# Ignore anything the build-libs/ directory
#
# What's in the build-libs/ directory is nothing source-wise. It's only
# binaries that are non-existent unless the user builds Lines or any other
# library
build-libs/*.so

